<section data-ng-controller="HomeController">
	<div class="row marketing">
	<p><strong>Text SOS Alert alerts your friends when you're in trouble.</strong>
	<em>If you are unable to make a call or text, you can trigger a Text SOS Alert alert.</em>
	<em>If you are on the run from a psychopath or have fallen and can't get up,
	Text SOS Alert will transmit your GPS location to your network of contacts.</em>
	<em>We hope to build support for peripheral devices.</em></p>
	</div>
	<div class="row">
		<div class="col-md-6">
			<!--<img
			class="img-responsive img-circle grow dropshadow"
			src="/modules/core/img/demo_gear_fit.jpg"
			alt="Wearable Interface">-->
			<a href="https://www.osha.gov" target="_blank"><img class="grow" width="100" src="/modules/core/img/logos/osha.png" alt="US Dept of Labor"></a>
			<a href="https://www.fema.gov" target="_blank"><img class="grow" width="100" src="/modules/core/img/logos/fema.png" alt="Federal Emergency Management Agency"></a>
			<a href="http://www.cdc.gov" target="_blank"><img class="grow" width="100" src="/modules/core/img/logos/cdc.png" alt="Center for Disease Control and Prevention"></a>
			
		</div>
		<div class="col-md-6">
			<a href="http://www.fbi.gov/stats-services/crimestats" target="_blank"><img class="grow" width="100" src="/modules/core/img/logos/fbi.png" alt="Federal Bureau of Investigation"></a>
			<a href="http://www.who.int/mediacentre/factsheets/fs239/en/" target="_blank"><img class="grow" width="100" src="/modules/core/img/logos/who.png" alt="Federal Bureau of Investigation"></a>
			<a href="https://rainn.org/" target="_blank"><img class="grow" width="100" src="/modules/core/img/logos/rainn.png" alt="Federal Bureau of Investigation"></a>

		</div>
	</div>
</section>
