<section data-ng-controller="PrivacyController">
	<h1>Privacy</h1>

	<p>The terms and conditions set out below (the &quot;<strong>Privacy Policy</strong>&quot;) apply to all pages on this app called <strong>Text SOS Alert</strong>.</p>

	<p>Text SOS Alert is committed to ensuring the privacy of all our users. This Privacy Policy governs all pages on the Text SOS Alert app. It does not apply to pages hosted by other organisations.</p>

	<p>By using Text SOS Alert, you consent to the terms of this Privacy Policy. Text SOS Alert may change the terms of this Privacy Policy from time to time and, if such changes are made, we may place notices on Text SOS Alert so that you can be aware of them.  Your continued use of Text SOS Alert will be on the terms of this Privacy Policy as amended from time to time.</p>

	<p>Text SOS Alert exists as both a webservice and stand alone app. Due to the variations in platforms, Text SOS Alert handles messaging an contact information differently depending on platforms. The android version is a stand alone app, while the iOS version is a webservice.</p>

	<p>On Android, personal information which you choose to provide will be retained by Text SOS Alert on your device. Messages transmitted by Text SOS Alert will exist on other services and will be outside the control of Text SOS Alert.</p>

	<p>On iOS devices, a web service retains contact information and sends text messages via email over a restful API.</p>

	<p>In the future we may choose to move the Android platform to the webservice.</p>

	<p>Text SOS Alert makes no guarantees regarding your information security.</p>

</section>
