<section data-ng-controller="TechnologyController">
	<h3>Platforms</h3>
	<p>
		MayDay is still in Alpha testing phase.
		It is limited to a small group of testers.
		There is currently support for Android and iOS.
	</p>
	<h4>Android</h4>
	<p>
		On the Android platform, MayDay is integrated with
		<a href="http://www.android.com/wear/" target="_blank">Android Wear</a>
		devices and the
		<a href="http://www.samsung.com/global/microsite/gear/gearfit_features.html" target="_blank">Samsung Gear Fit</a>.
		We’ve tested Mayday with the Samsung Gear Fit™,
		Motorola Moto 360™ and LG G Watch R™. It has not
		been tested but it may work with LG G Watch™,
		Samsung Gear Live™, Asus ZenWatch™ and Sony SmartWatch 3™.
	</p>
	<h4>iOS</h4>
	<p>
		Apple iOS devices are currently supported for iPod touch<sup>®</sup>,
		iPhone<sup>®</sup>, iPad<sup>®</sup> and
		<a href="https://www.apple.com/watch/" target="_blank">Apple Watch™.</a>
	</p>

</section>
